MvvmCrossFormsTemplate.Common/bin
MvvmCrossFormsTemplate.Common/obj
MvvmCrossFormsTemplate.iOS/obj
MvvmCrossFormsTemplate.UI/bin
MvvmCrossFormsTemplate.UI/obj
.vs
MvvmCrossFormsTemplate.Android/obj
MvvmCrossFormsTemplate/obj
